body {
    font-family: 'Oswald', sans-serif;
}
.teaser-video {
    height: 100vh;
}
.nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 65%;
    color: white;
}
.nav-list li {
    /* margin-left: 15px; */
}
.brand {
    background-color: darkorange;
}